.card__wrapper {
  padding: 20px;
  margin: 10px;
  background-color: white;
  border-radius: 12px;
  width: 250px;
  // height: 00px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .card__favorite-checkbox {
    &::after {
      content: "a";
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0.125rem 0.125rem 0 0;
      border-color: transparent transparent transparent #fff;
      position: absolute;
      top: 0.125rem;
      right: 0.125rem;
    }
  }

  .card__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .card__body-img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
    .card__body-title {
      font-size: 1.2rem;
      font-weight: bold;
      color: #000;
      margin-top: 10px;
      width: 80%;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .card__body-description {
      text-align: center;
      margin-top: 10px;

      font-size: 0.8rem;
      color: #8f8b8b;
      width: 80%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .card__body-price {
      font-size: 2rem;
      color: #ffa726;
      font-weight: bold;

      span {
        font-size: 1.5rem;
      }
    }
    .card__body-regulator {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px;

      .card__body-regulator-minus {
        text-align: center;
        min-width: 32px !important;
        height: 32px;
        color: rgb(82, 80, 80);
        font-weight: 600;
        border: 1px solid rgb(255, 167, 38);
        border-radius: 5px;

        &:hover {
          background-color: rgb(255, 167, 38);
          color: white;
        }
      }
      .card__body-regulator-count {
        font-size: 1.2rem;
        color: rgb(82, 80, 80);
        font-weight: 600;
        margin: 0 20px;
      }
      .card__body-regulator-plus {
        text-align: center;
        min-width: 32px !important;
        height: 32px;
        color: rgb(82, 80, 80);
        font-weight: 600;
        border: 1px solid rgb(255, 167, 38);
        border-radius: 5px;

        &:hover {
          background-color: rgb(255, 167, 38);
          color: white;
        }
      }
    }
    .card__body-button {
      width: 70%;
      padding: 15px;
      border: none;
      border-radius: 20px;
      background-color: rgb(255, 167, 38);
      color: white;
      font-size: 15px;
      line-height: 0;
      font-weight: 600;
      text-transform: capitalize;
      margin-top: 10px;
      span {
        margin-left: 10px;
      }
      &:hover {
        background-color: rgb(0, 0, 0);
        color: white;
      }
    }
  }
}
