.banner {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin: 20px 0;
  .offer-banner {
    //padding: 20px;

    height: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;

    .offer-banner__content {
      .offer-banner__content__text {
        padding: 20px;
        display: flex;
        flex-direction: column;

        text-align: center;
        h2 {
          font-size: 2rem;
          font-weight: bolder;
          color: #fff;
          margin-bottom: 0;
        }
        p {
          font-size: 20px;
          color: #fff;
          font-weight: bold;
        }
      }
    }
  }
}
