.main__wrapper{
  display: flex;
  

  
}

.main__container{
    width: calc(100% - 250px);

    /* background: gold; */
    margin: 16px 16px 16px 0;
    border-radius: 10px;
    min-height: calc(100vh - 2rem);
}